@use 'sass:math';
@import "variables";
.navbar-brand img{
    max-height: math.div($app-navbar-height, 2);
}
.navbar-toggler {
    border: none;
    box-shadow: none;
    &:focus-visible {
        outline: 2px solid $primary;
        outline-offset: 2px;
    }
}
.navbar{
    height: $app-navbar-height;
    transition: margin 300ms;
    transition: height 300ms;
    z-index: 1031;
    &.top{
        margin-top: 0px;
        box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
        height: $app-navbar-height * .6;
    }
}
.subnav{
    transition: margin 300ms;
    margin: 0px;
    &.top{
        margin-top: -40px;
    }
}
.actions>*{
    display: flex;
    align-items: center;
    border-radius: 0px;
    .oi{
        font-size: 17px;
    }
    & + *:not([hidden]){
        border-left: 1px solid black;
        height: 20px;
    }
    margin: 0;
    padding: 0 0.5rem;
    .btn{
        padding: 0 0.25rem;
        line-height: 1;
    }
}
.navbar-brand>img{
    transition: .45s;
    &.scale{
        transform: scale(.725);
    }
}

.modal.show .modal-dialog.menu{
    left: 0;
}
.modal-dialog.menu{
    transition: left 300ms;
    margin: -1px 0 0 0;
    left: -20rem;
    width: 20rem;
    .modal-content{
        height: 100vh;
    }
    .list-group-flush .list-group-item{
        border: 0;
    }
}
.store-list>div:not(:last-child){
    border-right: 1px solid $gray-300;
}
app-category-carousel{
    width: 100%;
}

.profile-avatar {
    object-fit: cover;
    flex-shrink: 0;
}
