@import "variables";

.navbar{
    transition: all 0.2s ease 0s;
    &.fixed-top{
        top: 0;
        box-shadow: $box-shadow;
        z-index: 1031;
        position: fixed;
        animation-name: navbar-subnav-slide;
        animation-duration: 0.2s;
    }
    &.expand{
        top: calc(#{$app-navbar-height} + 72px);
    }
    h3{
        max-width: 95%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.headerContainer{
    height: 230px;
    label{
        white-space: nowrap;
    }
}
